* {
    font-family: Roboto-Regular;
}

body {
    background-color: whitesmoke!important;
}

.navigacija {
    border-bottom: solid 3px #17a2b8;
}

.nav-link {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.efe::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #17a2b8;
    transition: width .3s;
}

.efe:hover::after {
    width: 100%;
    transition: width .3s;
}

.light-blue.darken-3 {
    background-color: #0277bd!important;
}

.navl:hover {
    background-color: darkblue;
    color: white;
}

.input-group-text {
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}


/*Deo sa preporucenim linkovima*/

.prep {
    margin-top: 20px;
}

.preporuka {
    height: 200px;
    background-color: whitesmoke;
    text-align: left;
    box-shadow: 0px 0px 10px 10px lightgrey;
    color: #17a2b8;
}

.preporuka>h6 {
    margin-top: 20px;
}

.preporuka>p {
    font-size: 15px;
    margin-top: 15px;
}

.preporuka:hover {
    color: whitesmoke;
    background-color: #17a2b8;
    cursor: pointer;
}

@media screen and (min-width: 1224px) {
    .preporuka {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 400px) {
    .preporuka {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
}


/*deo ispod slideshow-a*/

.naslov {
    font-style: italic;
    color: #7ee5ff;
    margin-bottom: 10px;
}

.ogl {
    height: 200px;
    ;
    border: solid #7ee5ff 5px;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.izaberime {
    background-color: white;
    width: 100%;
    cursor: pointer;
}

.ime {
    opacity: 0.65;
    width: 250px;
    padding-bottom: 30px;
}

.izaberime:hover img {
    opacity: 1;
}

.imetext {
    margin-top: 80px;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .izaberime {
        text-align: center;
    }
    .ime {
        width: 25%;
        margin-top: 0px;
    }
    .imetext {
        margin-top: 10px;
        font-size: 10%;
    }
}

.kontakt {
    height: auto;
    background-color: #C45842;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}

@media (max-width: 576px) {
    .kontakt {
        text-align: center;
    }
    .kontakt p {
        margin-left: 0px;
    }
}

.hrline {
    display: block;
    overflow: hidden;
    text-align: center;
}

.hrline:before,
.hrline:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 50%;
    border: #17a2b8;
    border-top-style: solid;
    border-top-width: 1px;
}

.hrline:before {
    right: 0.5em;
    margin-left: -50%;
}

.hrline:after {
    left: 0.5em;
    margin-right: -50%;
}

.hrline img {
    vertical-align: middle;
}


/*imena za pse*/

.imena {
    background-color: #77cee4e0;
}

.names {
    background-color: white;
    box-shadow: 0px 0px 10px 10px lightgray;
    color: gray;
}

.names>p {
    color: lightslategray;
}

.polovi {
    max-width: 530px;
    margin: 0 auto;
    overflow: hidden;
}

.polovi li {
    display: inline-block;
    text-align: center;
    width: 33%;
    float: left;
}

.polovi li input[type=radio] {
    display: none;
}

.polovi li input[type=radio]+label {
    position: relative;
    cursor: pointer;
    display: block;
    margin-top: 80px;
    padding-top: 11px;
    font-size: 1em;
    user-select: none;
}

.polovi li input[type=radio]+label .icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -57px;
    z-index: 1;
    width: 27px;
    height: 37px;
    fill: wheat;
}

.polovi li input[type="radio"]+label::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    background-color: #9bddee;
    top: -80px;
    left: 0px;
    right: 0px;
    border-radius: 50%;
    margin: auto;
    transition: all 0.3s ease 0s;
}

.polovi li input[type=radio]:hover+label:after {
    background-color: blue;
}

.names .post__body {
    border: 1px solid #ebeae8;
    margin-top: 77px;
    position: relative;
    background: url(cssimg\psi.svg);
}

@media (max-width: 991px) {
    .names__wrapper {
        padding: 50px 20px 105px;
    }
}

.names__wrapper .letters {
    display: table;
    margin: 0 auto;
    max-width: 505px;
    overflow: hidden;
    font-family: Roboto-Regular;
}

.names__wrapper .letters li {
    font-size: 2.14286em;
    color: #613c4b;
    line-height: 1.73333;
    float: left;
    display: inline-block;
    width: 10%;
    text-align: center;
    cursor: pointer;
    font-family: Roboto-Regular;
}

.names__wrapper .letters li.is-active,
.names__wrapper .letters li:hover {
    color: #f66;
}